@import url("https://fonts.cdnfonts.com/css/warcraft");

.font {
  font-family: "Warcraft", sans-serif;
}

.page {
  background: url("../../../public/static/page.jpg");
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 4.4em;
  
}
