@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/warcraft");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: url("../img/page-background.jpg");
  font-family: "Warcraft", sans-serif;
  overflow-y: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 7px;
  background-color: rgba(85, 61, 16, 0.87);
  box-shadow: 0 0 10px 5px rgba(158, 111, 17, 0.966);
  transform: translateX(-50%);
}