.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  height: 3vh;
}

.navbarList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbarItem {
  margin: 0 4rem;
  background-color: rgba(137, 218, 200, 0.795);
  padding: 0.5rem 1rem;
}
